# config secret key
SECRET_KEY=sua_chave_secreta_aqui
# config database
DATABASE_USER=seu_usuario
DATABASE_PASSWORD=sua_senha #caso não queira senha, deixe apenas vazio
DATABASE_HOST=localhost
DATABASE_NAME=nome_do_seu_banco